.boothcase{
	margin-top: 20Px;
}
.booth h3{
	font-size: 16Px;
	line-height: 20Px;
	border-left: 2Px solid #cf202c;
	padding-left: 10Px;
	margin-top: 50px;
}
.booth p{
	margin: 20px 0;
	line-height: 30Px;
}
.b1 img{
    width: 100%;
}
.booth p span{
  color: #cf202c;
}
.booth .b2 div{
	width: 40%;
	overflow: hidden;
	display: inline-block;
	margin-right: 10%;
	text-align: center;
}
.b2 img{
  width: 80%;
  transition: transform 0.5s;
}
.b2 img:hover{
	transform: scale(1.2);
}
.business ul{
	margin: 20px 0;
}
.business li{
	list-style: none;
	line-height: 28Px;
}
.business table{
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}
.business table td{
	border:1px solid #000;
	text-align: center;
	padding: 10px 0;
}
.psystem{
	& .line{
		border:1px solid blue;
	}
	& table{
	   width: 100%;
	   border-collapse: collapse;
	   margin: 20px 0;
    }
	& table td{
	   border:1px solid #000;
	   text-align: center;
	   padding: 10px 0;
	}
	& .out{
		position: relative;
		width: 36%;
	}
	& .line {
		width: 100%;
		border:1px solid blue;
		position: absolute;
		transform: rotate(8deg);
		-webkit-transform: rotate(8deg);
		-moz-transform: rotate(8deg);
		-ms-transform: rotate(8deg);
		-o-transform: rotate(8deg);
		left: 0px;
		top:1.6rem;
	}
	& .hb{
	  position: absolute;
	  bottom: 5px;
	  left: 10px;
	}
	& .level{
		position: absolute;
		top: 5px;
		right: 10px;
	}
}