.intro2017{
	overflow:hidden;
	& h3{

	}
	& .meet{
		text-align: center;
		width: 50%;
		height: 450px;
		padding: 20px;
		box-sizing: border-box;
		float: left;
	    overflow:hidden;


		& img{
			width: 100%;
		}
	}
	& .people{
		text-align: center;
		float: left;
		width: 25%;
		height: 340px;
		padding: 20px 10px;
		box-sizing: border-box;
	    overflow:hidden;

		& img{
			/*width: 60%;*/
		 	height: 160px;
		}
	}
	& .clear{
		clear: left;
	}
	
}
@media screen and (max-width: 780px){
	.meet,.people{
		float: none !important;
		width: 100% !important;
		height: initial !important;
	}
	.people img{
		height: initial !important;
		
	}

}